.container {
  background-color: white;
  display: flex;
}
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h4 {
  margin: 10px;
}
h5 {
  color: hsl(333, 80%, 67%);
}
p {
  padding: 15px;
}
.item1 {
  background-color: White hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 180px 0px 30px;
  padding: 0px 315px 0px 0px;
}
.item2 {
  background-color: White hsl(0, 0%, 100%);
  display: grid;
  margin: 20px;
  align-items: center;
}
.a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(300, 24%, 96%);
  width: 400px;
  border-radius: 5px;
}
.b {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(300, 24%, 96%);
  width: 400px;
  margin-left: 40px;
  border-radius: 5px;
}
.c {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(300, 24%, 96%);
  width: 400px;
  margin-left: 80px;
  border-radius: 5px;
}
.item3 {
  background-color: White hsl(0, 0%, 100%);
  grid-row-start: 2;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.info {
  display: flex;
  align-items: center;
}
.x {
  background-color: hsl(300, 43%, 22%);
  padding: 20px;
  border-radius: 10px;
  margin: 11px 20px 45px 20px;
}
.y {
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  padding: 20px;
  margin: 37px 20px;
  margin-bottom: 25px;
}

.z {
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  padding: 20px;
  margin: 10px 20px;
  margin-top: 60px;
  margin-bottom: 5px;
}
@media screen and (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 0px;
    margin: 25px;
  }
  .item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
  }
  .c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
  }
  h4 {
    padding: 0px;
  }
  .item3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
